*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,
body{
	width:100%;
	height:100%;
}
body{
	overflow-x:hidden;
	background-color:black;
	color:white;
}
header{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:30px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name h1{
	font-family:Georgia;
	font-size:40px;
}
header #logo img{
	width:120px;
	margin-right:120px;
}
header #social-media i{
	font-size:40px;
	padding:5px;
	
}
#social-media{
	display:flex;
	gap:10px;
}
#social-media a{
	text-decoration:none;
	color:white;
}
main {
	height:calc(100% - 152px);
	width:100%;
	padding-top:160px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:70px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:450px;
	width:1020px;
	margin-top:30px;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}

header #social-media i:hover{
	color:black;
	background:white;
	padding:5px;
	border-radius:20px;
}

#page2{
	padding:0vw 0vw;
	margin-top:0px;
	
}
#move{
    background-color:seagreen;
    display: flex;
    padding: 6vw 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 3vw;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 7vw;
}
#page3{
	padding-bottom:5vw;
}

#page3 h1{
	text-align:center;
	font-size:40px;
	font-family:georgia;
	width:70%;
	margin:0 auto;
	line-height:60px;
}
#page4 {
	padding:80px 100px;
	background-color:#222222;
}
#page4 h1{
	font-size:70px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:32px;
	font-family:Tahoma;
	margin:40px 0px;
}
#skills-logo{
	display:flex;
	gap:20px;
	
}
 #skills-logo img{
	width:100px;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:130px !important; 
}

#page5 {
	padding:80px 100px;
	background-color:#000000;
}
#page5 h1{
	font-size:60px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	gap:50px;
	padding:60px 0px;
	
	
}

#page5 .artwork-1 a {
}
#page5 span{
	color:seagreen;
}

#page5 .artwork-1{
	height:350px;
	width:630px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:350px;
	width:630px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:350px;
	width:630px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:350px;
	width:630px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:350px;
	width:630px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:350px;
	width:630px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-1:hover{
	transform:scale(1.05);
}
#page5 .artwork-2:hover{
	transform:scale(1.05);
}
#page5 .artwork-3:hover{
	transform:scale(1.05);
}
#page5 .artwork-4:hover{
	transform:scale(1.05);
}
#page5 .artwork-5:hover{
	transform:scale(1.05);
}
#page5 .artwork-6:hover{
	transform:scale(1.05);
}


#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:80px 40px 20px 40px;
	text-align:center;
	background-color:#222222;
}
#contact h1{
	font-size:123px;
	font-family:Georgia;
	line-height:1.4;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
#whatsapp{
	color:seagreen;
}




@media screen and (max-width:480px) and (min-width:120px){
	header{
	width:100%;
	display:flex;
	justify-content:start;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name h1{
	font-family:Georgia;
	font-size:20px;
	text-align:center;
	display:none;
}

header #logo img{
	width:30px;
	object-fit:cover;
	height:30px;
	position:relative!important;
	left:30px;
	transform:scale(1.8);
	
}
#social-media{
	display:flex;
	gap:0px;
	margin-right:0px;
	
}

header #social-media i{
	font-size:25px;
		padding:5px;
}
header #social-media i:hover{
	color:black;
	background:white;
	padding:5px;
	border-radius:20px;
}

main {
	height:100%;
	width:100%;
	padding-top:100px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:35px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:300px;
	width:300px;
	margin-top:30px;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
}

#page2{
	padding:0px 0px;
	margin-top:0px;
	display:none;

}
#move{
    background-color:seagreen;
    display: flex;
    padding: 80px 0;
    overflow: hidden;
	margin-top:0px;
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:0px 0px !important;
	margin-top:0px !important;
}

#page3 h1{
	text-align:center;
	font-size:20px !important;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:30px!important;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:38px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:22px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:90px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 30px;
	background-color:#000000;
}
#page5 h1{
	font-size:40px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	gap:20px;
	padding:60px 0px;
}

#page5 .artwork-1{
	height:200px !important;
	width:300px !important;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:200px !important;
	width:300px !important;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:200px !important;
	width:300px !important;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:200px !important;
	width:300px !important;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:200px !important;
	width:300px !important;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:200px !important;
	width:300px !important;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}

#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 10px 10px 10px!important;
	text-align:center!important;
}
#contact h1{
	font-size:30px !important;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:15px!important;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
#whatsapp{
	color:seagreen;
}
}


@media screen and (max-width:600px) and (min-width:480px){
	
	header{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name{
	width:30%;

	text-align:center;
}

header #social-media {
width:50%;
	text-align:center;
		display:flex;
	gap:15px;

}

header #logo{
	width:20%;

	text-align:center;
}

header #name h1{
	font-family:Georgia;
	font-size:25px;
	font-weight:bold;
	
	
}


header #logo img{
	width:80px;
	
}

header #social-media i{
	font-size:28px;
}

main {
	width:100%;
	padding:150px 0px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:55px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:300px;
	width:500px;
	margin:30px auto;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}


#page2{
	padding:0px 0px;
	margin-top:300px;


}
#move{
    background-color:seagreen;
    display: flex;
    padding: 30px 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:60px 0px;
}

#page3 h1{
	text-align:center;
	font-size:25px;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:40px;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:38px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:22px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:90px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 30px;
	background-color:#000000;
}
#page5 h1{
	font-size:40px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:50px;
	padding:60px 0px;

}

#page5 .artwork-1{
	height:250px;
	width:500px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:250px;
	width:500px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:250px;
	width:500px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:250px;
	width:500px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:250px;
	width:500px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:250px;
	width:500px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}

#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 20px 20px 50px;
	text-align:left;
}
#contact h1{
	font-size:60px;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
#whatsapp{
	color:seagreen;
}
}




@media screen and (max-width:768px) and (min-width:600px){
	
	header{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name{
	width:30%;

	text-align:center;
}

header #social-media {
width:40%;
	text-align:center;
		display:flex;
	gap:10px;

}

header #logo{
	width:30%;

	text-align:center;
}

header #name h1{
	font-family:Georgia;
	font-size:25px;
	font-weight:bold;
	
	
}


header #logo img{
	width:80px;
	
}

header #social-media i{
	font-size:30px;
}

main {
	width:100%;
	padding:100px 0px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:55px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:400px;
	width:680px;
	margin:30px auto;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}


#page2{
	padding:0px 0px;
	


}
#move{
    background-color:seagreen;
    display: flex;
    padding: 30px 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:60px 0px;
}

#page3 h1{
	text-align:center;
	font-size:25px;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:40px;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:38px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:22px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:90px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 20px;
	background-color:#000000;
}
#page5 h1{
	font-size:50px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:50px;
	padding:60px 0px;

}

#page5 .artwork-1{
	height:300px;
	width:580px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:300px;
	width:580px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:300px;
	width:580px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:300px;
	width:580px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:300px;
	width:580px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:300px;
	width:580px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}

#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 20px 20px 50px;
	text-align:left;
}
#contact h1{
	font-size:60px;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
}


@media screen and (max-width:900px) and (min-width:768px){
	
	header{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name{
	width:30%;

	text-align:center;
}

header #social-media {
width:40%;
	text-align:center;
		display:flex;
	gap:15px;

}

header #logo{
	width:30%;

	text-align:center;
}

header #name h1{
	font-family:Georgia;
	font-size:28px;
	font-weight:bold;
	
	
}


header #logo img{
	width:80px;
	
}

header #social-media i{
	font-size:30px;
}

main {
	width:100%;
	padding:150px 0px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:58px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:400px;
	width:700px;
	margin:30px auto;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}

#photo h1{
	font-size:65px;
	font-family:Georgia;
	color:white;
	width:100%;
	margin:0 auto;
	background:#0000009e;
	position:relative;
	bottom:145px;
	line-height:55px;
	text-align:center;
	padding:15px 20px;
	display:flex;
	flex-direction:column;
}
#photo h1 span{
	font-size:45px;
}
#photo h1 #span1{
	font-size:35px;
	text-align:center;
	
}

#page2{
	padding:0px 0px;
	margin-top:380px;


}
#move{
    background-color:seagreen;
    display: flex;
    padding: 30px 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:60px 0px;
}

#page3 h1{
	text-align:center;
	font-size:25px;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:40px;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:38px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:22px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:90px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 30px;
	background-color:#000000;
}
#page5 h1{
	font-size:40px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:50px;
	padding:60px 0px;

}

#page5 .artwork-1{
	height:350px;
	width:700px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:350px;
	width:700px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:350px;
	width:700px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:350px;
	width:700px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:350px;
	width:700px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:350px;
	width:700px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-1 a {
}
#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 20px 20px 50px;
	text-align:left;
}
#contact h1{
	font-size:65px;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
}




@media screen and (max-width:1024px) and (min-width:900px){
	
	header{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name{
	width:30%;

	text-align:center;
}

header #social-media {
width:40%;
	text-align:center;
		display:flex;
	gap:15px;

}

header #logo{
	width:30%;

	text-align:center;
}

header #name h1{
	font-family:Georgia;
	font-size:30px;
	font-weight:bold;
	
	
}


header #logo img{
	width:80px;
	
}

header #social-media i{
	font-size:35px;
}

main {
	width:100%;
	padding:150px 0px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:58px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:400px;
	width:880px;
	margin:30px auto;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}

#photo h1{
	font-size:65px;
	font-family:Georgia;
	color:white;
	width:100%;
	margin:0 auto;
	background:#0000009e;
	position:relative;
	bottom:145px;
	line-height:55px;
	text-align:center;
	padding:15px 20px;
	display:flex;
	flex-direction:column;
}
#photo h1 span{
	font-size:45px;
}
#photo h1 #span1{
	font-size:35px;
	text-align:center;
	
}

#page2{
	padding:0px 0px;
	margin-top:380px;


}
#move{
    background-color:seagreen;
    display: flex;
    padding: 30px 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:60px 0px;
}

#page3 h1{
	text-align:center;
	font-size:25px;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:40px;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:38px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:22px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:90px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 30px;
	background-color:#000000;
}
#page5 h1{
	font-size:40px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:50px;
	padding:60px 0px;

}

#page5 .artwork-1{
	height:400px;
	width:880px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:400px;
	width:880px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:400px;
	width:880px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:400px;
	width:880px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:400px;
	width:880px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:400px;
	width:880px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}

#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 20px 20px 50px;
	text-align:left;
}
#contact h1{
	font-size:65px;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
}

@media screen and (max-width:1200px) and (min-width:1024px){
	
	header{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name{
	width:30%;

	text-align:center;
}

header #social-media {
width:40%;
	text-align:center;
		display:flex;
	gap:15px;

}

header #logo{
	width:30%;

	text-align:center;
}

header #name h1{
	font-family:Georgia;
	font-size:35px;
	font-weight:bold;
	
	
}


header #logo img{
	width:100px;
	
}

header #social-media i{
	font-size:40px;
}

main {
	width:100%;
	padding:150px 0px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:62px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:400px;
	width:1000px;
	margin:30px auto;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}


}

#page2{
	padding:0px 0px;
	margin-top:60px;


}
#move{
    background-color:seagreen;
    display: flex;
    padding:40px 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:80px 0px;
}

#page3 h1{
	text-align:center;
	font-size:30px;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:40px;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:45px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:25px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:100px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 30px;
	background-color:#000000;
}
#page5 h1{
	font-size:40px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:60px;
	padding:60px 0px;

}

#page5 .artwork-1{
	height:300px;
	width:550px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:300px;
	width:550px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:300px;
	width:550px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:300px;
	width:550px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:300px;
	width:550px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:300px;
	width:550px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}

#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 20px 20px 50px;
	text-align:left;
}
#contact h1{
	font-size:85px;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 a{
	text-decoration:none;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
}

@media screen and (max-width:1400px) and (min-width:1200px){
	
	header{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:20px 0px;
	background-color:transparent;
	position:fixed;
	z-index:99;
}
header #name{
	width:30%;

	text-align:center;
}

header #social-media {
width:40%;
	text-align:center;
		display:flex;
	gap:15px;

}

header #logo{
	width:30%;

	text-align:center;
}

header #name h1{
	font-family:Georgia;
	font-size:35px;
	font-weight:bold;
	
	
}


header #logo img{
	width:100px;
	
}

header #social-media i{
	font-size:40px;
}

main {
	width:100%;
	padding:150px 0px;
}

main h1{
	display:flex;
	justify-content:center;
	font-family:Georgia;
	font-size:62px;
}
main h1 #heck{
	color:seagreen;
}
main #photo{
	height:400px;
	width:1100px;
	margin:30px auto;
	overflow:hidden;
	text-align:center;
	z-index:1;
	background-image:url("img/bannerabhyalast.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top ;
	filter:grayscale(0.55);
	
	
}


}

#page2{
	padding:0px 0px;
	margin-top:300px;


}
#move{
    background-color:seagreen;
    display: flex;
    padding: 40px 0;
    overflow: hidden;
	
}
#move span{
	color:seagreen;
}
.marque{
    display: flex;
    align-items: center;
    gap : 50px;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
}
.marque h1{
    font-size: 50px;
}

#page3{
	padding:80px 0px;
}

#page3 h1{
	text-align:center;
	font-size:30px;
	font-family:georgia;
	width:80%;
	margin:0 auto;
	line-height:40px;
}
#page4 {
	padding:60px 30px;
	background-color:#222222;
}
#page4 h1{
	font-size:45px;
	font-family:Tahoma;
}
#page4 span{
	color:seagreen;
}
#page4 h4{
	font-size:25px;
	font-family:Tahoma;
	margin:20px 0px;
}
#skills-logo{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	
}
 #skills-logo img{
	width:100px;
	object-fit:cover ;
	background-color:white;
	padding:10px;
	border-radius:10px;
}
#github{
	object-fit:cover ;
	width:100px !important; 
}

#page5 {
	padding:80px 30px;
	background-color:#000000;
}
#page5 h1{
	font-size:40px;
	font-family:tahoma;
}
#page5 .artwork{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:50px;
	padding:60px 0px;

}

#page5 .artwork-1{
	height:300px;
	width:600px;
	background-image:url("img/luggage.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-2{
	height:300px;
	width:600px;
	background-image:url("img/salon.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-3{
	height:300px;
	width:600px;
	background-image:url("img/flufighter.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
}
#page5 .artwork-4{
	height:300px;
	width:600px;
	background-image:url("img/ecoarmour.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-5{
	height:300px;
	width:600px;
	background-image:url("img/animal.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}
#page5 .artwork-6{
	height:300px;
	width:600px;
	background-image:url("img/hisight.png");
	background-size:100% 100%;
	border-radius:20px;
	transition:1s;
	
}

#page5 span{
	color:seagreen;
}

#page5 h2 a{
	font-size:40px;
	font-family:Georgia;
	color:seagreen;
	text-decoration:none;
}

#contact{
	padding:40px 20px 20px 50px;
	text-align:left;
}
#contact h1{
	font-size:80px;
	font-family:Georgia;
	line-height:1.3;
}
#contact h1 span{
	font-family:Trebuchet MS ;
}
#contact p{
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:700;
	margin-top:50px;
	text-align:center;
}
#mail{
	color:#EA4335;
}
#instagram{
	color:#F9822B;
}
#linkedin{
	color:#9ABCF8;
}
}
